@using SimpleWeb.Controllers
@{
    ViewData["Title"] = "Home Page";
    var appSettings = ViewBag.AppSettings
        as AppSettingsModel;
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <div>@appSettings.Id</div>
    <div>@appSettings.Name</div>
    <div>@appSettings.IsTest</div>
</div>